/* 
  Mixins
*/

/* 清除浮动 */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* 目录小圆点 */
@mixin catalogRound($left, $size) {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: $left;
    margin-top: -2px;
    width: $size;
    height: $size;
    background-color: currentColor;
    border-radius: 50%;
  }
}

/* 文字左边小原点 */
@mixin textRound($color) {
  &::before {
    content: "·";
    color: $color;
    padding:0 4px;
  }
}

/* 文字分割线 */
@mixin splitLine() {
  &::after {
    content: "|";
    position: absolute;
    left: 100%;
    color: hsla(0,0%,59.2%,.4);
  }
}

/* 水平对齐 */
@mixin flexcenter($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

/* 垂直对齐 */
@mixin flexcolumn($jc:space-between, $ai: none) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}

/* 超出不换行 */
@mixin nowrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



$primary: #027fff;

$border-bottom:rgba(230, 230, 231, 0.5);

// authorHeader
$fontcolor: #909090;
$navcolor: #71777c;

