/* Mixins */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flexcenter($jc:center, $ai:center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin flexcolumn($jc:space-between) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
}


// Base color
$border-bottom:rgba(230, 230, 231, 0.5);