@import './icon.scss';
@import './variables.scss';
@import './markdown.scss';

// ul,
// li {
//   list-style: none;
// }
// a {
//   text-decoration: none;
// }
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#app {
  color: #333;
  font-size: 14px;
  background-color: #f4f5f5;
  min-height: 100vh;
}