@import './icon.scss';
@import './transition';
@import './markdown';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#app {
  color: #333;
  font-size: 14px;
  background-color: #f4f5f5;
  min-height: 100vh;
}
.el-popover {
  padding: 0;
}
// markdown 设置
.markdown-article {
  .tui-editor-defaultUI .CodeMirror-lines {
    font-size: 16px;
    background-color: #f8f9fa;
  }
  .tui-editor-defaultUI .CodeMirror-scroll {
    background-color: #f8f9fa;
  }
  .tui-editor .te-preview-style-vertical .te-preview {
    background: #fff;
  }
  .te-md-container .te-preview .tui-editor-contents {
    font-size: 16px;
  }
  .tui-editor-defaultUI .te-mode-switch-section {
    height: 35px!important;
    background: #fff;
  }
}


.el-tabs__header {
  margin: 0 0;
  .el-tabs__nav-wrap {
    padding: 0 30px;
    &::after {
      background-color: rgba(230,230,231,.5);
    }
  }
}
// 问答页刷选
.questions-nav{
  .el-radio {
    margin: 0;
    .el-radio__input {
      display: none;
    }
    .el-radio__label {
      padding-left: 0;
    }
  }
}
.search-group, .panel-box {
  .el-radio {
    margin: 0;
    .el-radio__input {
      display: none;
    }
    .el-radio__label {
      padding-left: 10px;
    }
  }
}
.search {
  .el-input__inner {
    padding-right: 30px;
  }
}
// 头部按钮样式
.header-button {
  .el-button--primary {
    background-color: $primary;
    font-size: 16px;
    border: none;
  }
}

// 注册验证码
.el-input-group__append, .el-input-group__prepend {
  color: $primary;
  background: #fff;
  font-weight: 500;
  width: 50px;
  padding: 0 10px;
  cursor: pointer;
  .reset {
    width: 70px;
    text-align: center;
    font-weight: normal;
    .reset-time {
      display: inline-block;
      width: 16px;
    }
  }
}

.el-divider__text {
  background-color: #f4f5f5;
  color: $primary;
}
// 问答导航标签tab样式修改
.nav-list {
  .el-tabs__nav-wrap {
    background: #fff;
    padding: 0;
    &::after {
      content: none;
    }
  }
  .el-tabs__item {
    padding: 0 10px;
    color: $navcolor;
    font-weight: normal;
  }
  .is-active {
    color: $primary;
    font-weight: 500;
  }
}

// 分享导航标签tab样式修改
.nav-list-share {
  .el-tabs__nav-wrap {
    background: #fff;
    padding: 0;
    &::after {
      content: none;
    }
  }
  .el-tabs__item {
    padding: 0 15px;
    color: $navcolor;
  }
  .is-active {
    color: $primary;
  }
}
.share-content {
  .el-tabs__header {
    display: none;
  }
}

// 首页文章导航标签tab
.articles-nav {
  margin-bottom: 20px;
  .el-tabs__nav-wrap {
    height: 46px;
    line-height: 46px;
    &::after {
      background-color: rgba(230, 230, 231, 0.8);
      height: 3px;
    }
  }
  .el-tabs__active-bar {
    height: 3px;
  }
  .el-tabs__item {
    padding: 0 10px;
    font-weight: normal;
  }
  .is-active {
    color: $primary;
    font-weight: 500;
  }
}
// 首页文章导航吸顶标签tab
.articles-fixed {
  left: 0;
  right: 0;
  .articles-nav {
    transition: transform .2s;
    width: 100vw;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    .el-tabs__nav-wrap {
      background: #fff;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
      padding-left: calc((100vw - 964px) / 2);
      &::after {
        content: none;
      }
    }
  }
}

// 问答刷选字体大小
.questions-nav {
  .el-radio__label {
    font-size: 15px;
    font-weight: normal;
  }
  .el-radio__input.is-checked+.el-radio__label {
    color: $primary;
  }
  // 提问按钮
  .el-divider__text, .el-link {
    font-size: 15px;
  }
}
// 提问输入框
.ask-content {
  .el-input--medium .el-input__inner {
    height: 48px;
    line-height: 49px;
    font-size: 18px;
  }
  .el-button--medium {
    padding: 9px 10px;
    font-weight: normal;
  }
  .el-tag {
    font-size: 14px;
    margin-right: 10px;
  }
}
// 
.tag-container {
  .el-popover {
    padding: 12px;
  }
}

// 跑马灯
.el-carousel__indicators--horizontal {
  right: 0;
  transform: translateX(75%);
  bottom: 15px;
  .el-carousel__button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
// 发布多选框
.type {
  .el-input {
    width: 240px;
  }
  .el-button {
    color: $primary;
    border: 1px solid $primary;
  }
}

// markdown
.markdown {
  .el-input__inner {
    color: #000 !important;
    font-weight: 700;
    border: none;
    outline: none;
  }
}

// 视频按钮
.share {
  .el-button--primary {
    font-size: 14px;
    color: #fff;
    border: 1px solid #4d91fd;
    background-color: #4d91fd;
  }
}

// 问答评论
.form {
  .markdown {
    .te-mode-switch-section {
      display: none !important;
    }
  }
}

// 关注按钮
.follow-action {
  .el-button--success {
    width: 80px;
  }
  .is-plain {
    background: #fff;
  }
  .el-button--small {
    font-size: 14px;
  }
}

// 网站信息
.more {
  .el-link {
    font-size: 12px;
    color: #909090;
  }
}
.el-avatar {
  background-color: #f4f5f5;
}

// 底部好文
.el-divider__text {
  color: $fontcolor;
  font-size: 12px;
}

.article-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  &__loading {
    width: 100%;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    background: transparent;
  }
  &__noMore {
    width: 230px;
  }
}