.article-content {
  font-size: 15px;
  word-break: break-word;
  line-height: 1.75;
  color: #333;
  font-weight: 400;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  text-rendering: optimizeLegibility;
    /*对 markdown 样式的补充*/
  pre {
    display: block;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    font-size: 14px;
    padding: 18px 15px 12px;
    background: #f8f8f8;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  }
  blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
  }
  h1,h2,h3,h4,h5,h6{
    padding-top: 120px;
    margin-top: -120px;
    margin-bottom: 12px;
    flex-wrap: 600;
    /* margin-bottom: 1em; */
  }
  h1, h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
  }
  strong {
    font-weight: bold;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  p > code:not([class]) {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }
  p img{
    /* 图片居中 */
    margin: 0 auto;
    display: flex;
  }
  img {
    margin-top: 2em;
    margin: 0 auto;
    max-width: 900px;
    zoom: 60%;
  }
  a {
    text-decoration: none;
    color: #0269c8;
    border-bottom: 1px solid #d1e9ff;
  }
  table {
    display: inline-block!important;
    max-width: 100%;
    font-size: 12px;
    border: 1px solid #f6f6f6;
    thead {
      background: #f6f6f6;
      color: #000;
      text-align: left;
      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        td, th {
          padding: 12px 6px;
          line-height: 24px;
          text-align: left;
        }
    }
    }
  }
}

