$primary: #007fff;
$nav-primary: #409EFF;

$text-color: #333333;

$fontcolor: #909090;
$likecolor: #6cbd65;
$navcolor: #71777c;
$navcolor-header: #72777B;

$main-nav: #007fff;
$placeholder-color: #f8f9fa;

$comment-color: #8a9aa9;
$title-color: #2e3135;
$title-elps-color: #5e646d;
$title-name-color: #666;

$border-color:rgba(230, 230, 231, 0.5);
$border-article-color: rgba(178,186,194,.15);
$hover-color: #fcfcfc;