/*
* elment-ui 样式更改
*/
// 导航栏搜索按钮样式 
.navbar-wrapper__search {
  .el-input__inner {
    padding-right: 30px;
    background-color:rgba(227,231,236,.2);
    &:focus {
      background-color: #fff;
    }
  }
}

//我的页导航
.section-author {
  .el-tabs__header {
    margin: 0;
  }
  .el-tabs__nav-wrap {
    padding: 0 0 0 2rem;
  }
}

// 清除popover弹窗的样式
.el-popover {
  padding: 0;
}

// 跑马灯
.el-carousel__indicators--horizontal {
  right: 1rem;
  transform: translateX(75%);
  bottom: 1rem;
  .el-carousel__button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  @media only screen and (max-width: 750px) {
    right: 1rem;
    bottom: 0px;
  }
}

// 注册验证码
.el-input-group__append, .el-input-group__prepend {
  color: $primary;
  background: #fff;
  font-weight: 500;
  width: 50px;
  padding: 0 10px;
  cursor: pointer;
  .reset {
    width: 70px;
    text-align: center;
    font-weight: normal;
    .reset-time {
      display: inline-block;
      width: 16px;
    }
  }
}

// 导航吸顶标签tab样式  
.navigation {
  position: fixed;
  left: 0;
  right: 0;
  line-height: 44px;
  top: 5rem;
  width: 100%;
  height: 44px;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  transition: all .2s;
  background: #fff;
  cursor: pointer;
  
  &-fixed {
    transition: transform .2s;
    transform: translate3d(0,-60px,0);
  }
  &-content {
    transition: transform .2s;
    .el-tabs__nav-wrap {
      @media only screen and (min-width: 750px) { 
        padding-left: calc((100vw - 994px) / 2);
      }
      &::after {
        content: none;
      }
    }
  }
  .el-tabs__item {
    padding: 0 1rem;
    font-size: 1.16rem;
    font-weight: 450;
    color: $navcolor;
    &:hover {
      color: $primary;
    }
  }
  .el-tabs__active-bar {
    background-color: transparent;
  }
  .is-active {
    color: $primary;
  }
  .el-tabs {
    display: block;
  }
  .van-tabs {
    display: none;
  }
  
  @media only screen and (max-width: 767px) { 
   .el-tabs {
      display: none;
    }
    .van-tabs {
      display: block;
    }
  }
  .van-tab {
    flex-basis: 18% !important;
  }

  .van-tab--active {
    color: $primary;
  }
  .van-tabs__line {
    background-color: transparent;
  }
}

// 提问输入框
.ask-content {
  .el-input--medium .el-input__inner {
    height: 48px;
    line-height: 49px;
    font-size: 18px;
  }
  .el-button--medium {
    padding: 9px 10px;
    font-weight: normal;
  }
  .el-tag {
    font-size: 14px;
    margin-right: 10px;
  }
}
// 
.tag-container {
  .el-popover {
    padding: 12px;
  }
}

// 发布多选框
.type {
  .el-input {
    width: 240px;
  }
  .el-button {
    color: $primary;
    border: 1px solid $primary;
  }
}

// markdown
.markdown {
  .el-input__inner {
    color: #000 !important;
    font-weight: 700;
    border: none;
    outline: none;
  }
}

// 视频按钮
.share {
  .el-button--primary {
    font-size: 14px;
    color: #fff;
    border: 1px solid #4d91fd;
    background-color: #4d91fd;
  }
}

// 问答评论
.form {
  .markdown {
    .te-mode-switch-section {
      display: none !important;
    }
  }
}

// 底部好文
.el-divider__text {
  color: $fontcolor;
  font-size: 12px;
  background-color: #f4f5f5;
  color: $primary;
}